In [1]:
import io
import os
import requests
import pandas as pd
from google.cloud import storage
import urllib.request
import pyarrow

In [2]:
# services = ['fhv','green','yellow']
init_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/'

# switch out the bucketname
BUCKET = os.environ.get("GCP_GCS_BUCKET", "dtc_data_lake_ny-rides-kelvin")

In [3]:
def upload_to_gcs(bucket, object_name, local_file):
    """
    Ref: https://cloud.google.com/storage/docs/uploading-objects#storage-upload-object-python
    """
    # # WORKAROUND to prevent timeout for files > 6 MB on 800 kbps upload speed.
    # # (Ref: https://github.com/googleapis/python-storage/issues/74)
    # storage.blob._MAX_MULTIPART_SIZE = 5 * 1024 * 1024  # 5 MB
    # storage.blob._DEFAULT_CHUNKSIZE = 5 * 1024 * 1024  # 5 MB

    client = storage.Client()
    bucket = client.bucket(bucket)
    blob = bucket.blob(object_name)
    blob.upload_from_filename(local_file)

In [ ]:
def web_to_gcs(year, service):
    for i in range(12):
        i = i + 1
        
        # sets the month part of the file_name string
        month = '0'+str(i+1)
        month = month[-2:]

        # csv.gz  file_name 
        file_name = service + '_tripdata_' + year + '-' + month + '.csv.gz'
        
        # download csv.gz file
        request_url = init_url + file_name
        urllib.request.urlretrieve(request_url, '../homework/data/' + file_name)

        df = pd.read_csv('../homework/data/' + file_name, encoding='latin1')
        file_name = file_name.replace('.csv.gz', '.parquet')
        df.to_parquet('../homework/data/' + file_name, engine='pyarrow')
        print(f"Parquet: {file_name}")

        # upload it to gcs 
        upload_to_gcs(BUCKET, f"{service}_parquet/{file_name}", '../homework/data/' + file_name)
        print(f"GCS: {service}_parquet/{file_name}")


# web_to_gcs('2019', 'green')
# web_to_gcs('2020', 'green')
# web_to_gcs('2019', 'yellow')
# web_to_gcs('2020', 'yellow')
# web_to_gcs('2019', 'fhv')
web_to_gcs('2020', 'fhv')
# web_to_gcs('2021', 'fhv')

In [4]:
pwd

'/Users/kelvinye/Documents/de-zoomcamp/week_4/2023/ingest'

In [14]:
file_name = 'fhv' + '_tripdata_' + '2020' + '-' + '01' + '.csv.gz'
df = pd.read_csv('../data/' + file_name)
# df.shape[0]
df.tail(10)

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
2028447,B03257,2020-01-31 23:58:06,2020-02-01 00:15:44,NaN,76.0,NaN,B02682
2028448,B03266,2020-01-31 23:19:01,2020-01-31 23:22:21,179.0,7.0,NaN,B03266
2028449,B03266,2020-01-31 23:45:28,2020-01-31 23:52:44,179.0,179.0,NaN,B03266
2028450,B03266,2020-01-31 23:09:17,2020-01-31 23:17:48,223.0,129.0,NaN,B03266
2028451,B03266,2020-01-31 23:09:23,2020-01-31 23:16:39,193.0,7.0,NaN,B03266
2028452,B03266,2020-01-31 23:39:08,2020-01-31 23:46:24,223.0,223.0,NaN,B03266
2028453,B03266,2020-01-31 23:51:11,2020-02-01 00:09:02,193.0,56.0,NaN,B03266
2028454,B03266,2020-01-31 23:12:40,2020-01-31 23:19:56,7.0,7.0,NaN,B03266
2028455,B03266,2020-01-31 23:28:37,2020-01-31 23:35:53,7.0,7.0,NaN,B03266
2028456,B03266,2020-01-31 23:19:09,2020-01-31 23:26:25,223.0,223.0,NaN,B03266

In [12]:
file_name = 'fhv' + '_tripdata_' + '2019' + '-' + '07' + '.parquet'
df = pd.read_parquet('../data/' + file_name)
# df.shape[0]
df.tail(10)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
1947729,B03080,2019-07-31 23:08:22,2019-07-31 23:20:33,264.0,265.0,NaN,B03080
1947730,B03080,2019-07-31 23:09:11,2019-07-31 23:47:04,264.0,265.0,NaN,B03080
1947731,B03113,2019-07-31 23:13:34,2019-07-31 23:22:41,173.0,56.0,NaN,B03113
1947732,B03156,2019-07-31 23:11:00,2019-07-31 23:46:00,242.0,159.0,NaN,B03768
1947733,B03157,2019-07-31 23:36:15,2019-07-31 23:41:49,264.0,265.0,NaN,B03157
1947734,B03157,2019-07-31 23:22:36,2019-07-31 23:34:07,264.0,265.0,NaN,B03157
1947735,B03157,2019-07-31 23:43:54,2019-07-31 23:47:40,264.0,265.0,NaN,B03157
1947736,B03186,2019-07-31 23:19:08,2019-07-31 23:27:36,264.0,265.0,NaN,B03186
1947737,B03186,2019-07-31 23:43:37,2019-08-01 00:02:33,264.0,265.0,NaN,B03186
1947738,B03186,2019-07-31 23:10:17,2019-07-31 23:16:23,264.0,265.0,NaN,B03186

In [13]:
df.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object